.Index {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
}

/* index-header */

.index-header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: #242424; */
    z-index: 99;
    transition: all 200ms ease-in-out;
    color: var(--headerColor);
    background-color: var(--headerBgColor);
}

.header-logo {
    margin-left: 1rem;
}


.header-content {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.header-content > button {
    margin-right: 1rem;
}
.header-content > ul {
    display: flex;
    margin-right: 1rem;
}
.header-content > ul > li {
    list-style-type: none;
    width: 1rem;
    margin-right: 1rem;
    color: var(--headerColor);
}
.header-content > ul > li > div {
   
    color: var(--headerColor);
    font-size: 1.5rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content > ul > li > div:hover {
    cursor: pointer;
    animation: spin 400ms ease-in-out;
}

@keyframes spin {
    from {transform: rotate(0);}    
    to {transform: rotate(180deg);}
}


#login {
    border-radius: 100px;
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--headerColor);
    border: 2px solid var(--headerColor);
    transition: all 200ms ease-in-out;
}
#register {
    border-radius: 100px;
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: transparent;
    color: var(--headerBgColor);
    background-color: var(--headerColor);
    transition: all 200ms ease-in-out;
}

/* index-header */





/* index-ads */

.index-ads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 100%;
    height: 6.25rem;
    background-color: #848484;
    color: #fff;
    font-size: 2rem;
}



/* index-ads */





/* index-body */

.index-body {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: flex-start;
}

.sidebar-index {
    animation: appear 300ms ease-in-out;
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 9px;
    box-shadow: var(--shadowSmall);
   
}
.btn-close-sidebar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
   
}
.sidebar-hide {
    box-shadow: var(--shadowSmall);
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    top: 5rem;
    justify-content: center;
    position: sticky;
    align-items: center;
    display: none;
    background-color: #f5f5f5;
    animation: appearUp 300ms ease-in-out;
}
.sidebar-hide > button {
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   border: transparent;
}

.btn-close-sidebar > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent;
    border: transparent;
}
.btn-close-sidebar > button, .sidebar-hide > button {
    cursor: pointer;
    
}

.sidebar-index> div > p {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.hr-index {
    margin: auto 1rem;
    margin-bottom: 1rem;
}

.sidebar-items-container {
    padding: 0 1rem;
    
}

.items-sidebar {
    position: relative;
    margin-bottom: 1rem;
}
.items-sidebar::after {
    position: absolute;
    background-color: var(--fontColor);
    width: 0;
    height: .3rem;
    content: '';
    bottom: -5px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 350ms ease-in-out;
}
.items-sidebar:hover::after {
    width: 100%;
}
.items-sidebar:hover {
    cursor: pointer;
}
@keyframes appear {
    from {transform: translateX(-100%); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes appearUp {
    from {transform: translateY(100%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}









/* index-body */


.content-index {
    width: 80%;
    height: 100%;
    
}

.container-content-index {
    margin: 1rem;
    margin-top: 0;
    border: 1px solid transparent;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--shadowSmall);
}   





/* index-footer */

.index-footer {
    flex-direction: column;
    height: 10%;
}

.index-footer, .footer-search, .box-search-top, .box-search-bottom, .footer-copyright  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-search {
    width: 50%;
}

.box-search {
    width: 100%;
}
.box-search-bottom, .box-search-top {
    padding-left: 1rem;
    width: 100%;
    justify-content: flex-start;
}

.box-search-top > input[type='text'] {
    font-size: .75rem;
    width: 50%;
    height: 1.8rem;
    outline: none;
    padding-left: .2rem;
}

.box-search-top > input[type='text']:focus::-webkit-input-placeholder {
    transition: text-indent 300ms 1000ms ease-in-out;
    text-indent: -100%;
}

.box-search-top > input[type='submit'] {
  
    margin-left: 1%;
    height: 1.8rem;
}
.box-search-top > input[type='submit']:hover {
    cursor: pointer;
}

.footer-copyright {
    font-size: var(--fontSize);
    padding: 1rem 0;
    width: 100%;
    flex-direction: column;
    border: 1px solid var(--colorGray);
    border-right: transparent;
    border-left: transparent;
}

.footer-copyright > p > a {
    color: var(--fontColor);
}

/* index-footer */